In [89]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
from statsmodels.regression.linear_model import RegressionResults
import geopy.distance

In [92]:
data_dir = os.getcwd() + '/data'

modeling_df = pd.read_csv("{}/cleaned_modeling_data.csv".format(data_dir))

pred_df = modeling_df.drop(["num_testtakers", "num_offered", "pct_8th_graders_offered", "perc_testtakers", "perc_testtakers_quartile"], axis=1)
response_df = modeling_df["num_testtakers"].fillna(0)

pred_train, pred_test, response_train, response_test = train_test_split(pred_df, response_df, test_size=0.2, random_state=223)

In [64]:
# col_name = "Economic Need Index"
# print(modeling_df[col_name].describe())
# print(modeling_df[col_name].notnull().sum())
# print(modeling_df[col_name].isnull().sum())

# x_train = pred_train[col_name].to_frame().values
# x_test = pred_test[col_name].to_frame().values

# plt.xlabel(col_name)
# plt.ylabel("# Testtakers - 2017")
# plt.scatter(x_train, response_train, alpha = 0.5)
# plt.show()

# pred_regr = linear_model.LinearRegression()
# pred_model = pred_regr.fit(x_train, response_train)

# y_pred = regr.predict(x_test)
# # The coefficients
# print('Coefficients: \n', pred_regr.coef_)
# # The mean squared error
# print("Mean squared error: %.2f"
#       % mean_squared_error(response_test, y_pred))
# # Explained variance score: 1 is perfect prediction
# print('Variance score: %.2f' % r2_score(response_test, y_pred))

#print(school_explorer_df[col_name].astype(column_cast_obj[col_name]).describe())
col_name = "econ_need_index_2017_city_diff"
print(pred_train[col_name].isnull().sum())
#print(pred_train[col_name].value_counts())
quantiles = pred_train[col_name].quantile([0, .25, .5, .75, 1])
print(quantiles[0.25])

coords_1 = (40.755048, -73.926963)
coords_2 = (40.7177087, -74.014027)

print(geopy.distance.vincenty(coords_1, coords_2).miles)

0
-0.08199999999999999
5.246020822515766

In [43]:
sm_x_train = pred_train["avg_math_proficiency_2017"]
sm_x_train = sm.add_constant(sm_x_train)

sm_model = sm.OLS(response_train, sm_x_train, missing='drop')
sm_results = sm_model.fit()
sm_results.summary()

print(sm_results.nobs)
print(sm_results.rsquared)
print(sm_results.rsquared_adj)
print(sm_results.fvalue)
print(sm_results.f_pvalue)
print(sm_results.aic)
print(sm_results.bic)
print(sm_results.pvalues)

448.0
0.23946504580127204
0.23775981047795658
140.42932522396606
2.365694842374332e-28
4848.342532845242
4856.552119310072
const                        5.811500e-16
avg_math_proficiency_2017    2.365695e-28
dtype: float64

In [93]:
invalid_preds = ["school_name", "dbn", "Address (Full)", "City", "Grades", "Grade Low", "Grade High"]

numeric_pred_df = pd.DataFrame()
cat_pred_df = pd.DataFrame()
num_pred_df = pd.DataFrame()
 
for col in pred_train.columns.values:
    if col in invalid_preds:
        continue
    elif pred_train[col].dtype == "object":
        pred_rows = get_categorical_model(col, pred_train, response_train)
        cat_pred_df = cat_pred_df.append(pred_rows, ignore_index=True)
    elif pred_train[col].dtype == "float":
        print(col)
        pred_rows = get_numerical_model(col, pred_train, response_train)
        num_pred_df = num_pred_df.append(pred_rows, ignore_index=True)

pct_black_hispanic
SED Code
District
Latitude
Longitude
Zip
                            OLS Regression Results
==============================================================================
Dep. Variable:         num_testtakers   R-squared:                       0.027
Model:                            OLS   Adj. R-squared:                  0.024
Method:                 Least Squares   F-statistic:                     12.23
Date:                Wed, 01 Aug 2018   Prob (F-statistic):           0.000518
Time:                        07:32:33   Log-Likelihood:                -2482.5
No. Observations:                 449   AIC:                             4969.
Df Residuals:                     447   BIC:                             4977.
Df Model:                           1
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    46.6527      3.032     15.388      0.000      40.694      52.611
Community School?_Yes   -34.2574      9.797     -3.497      0.001     -53.511     -15.004
Community School?_nan          0          0        nan        nan           0           0
==============================================================================
Omnibus:                      292.089   Durbin-Watson:                   1.902
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2271.035
Skew:                           2.864   Prob(JB):                         0.00
Kurtosis:                      12.411   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
Economic Need Index
Percent ELL
Percent Asian
Percent Black
Percent Hispanic
Percent Black / Hispanic
Percent White

/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)
/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/statsmodels/regression/linear_model.py:1633: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

Student Attendance Rate
Percent of Students Chronically Absent
Rigorous Instruction %
Collaborative Teachers %
Supportive Environment %
Effective School Leadership %
Strong Family-Community Ties %
Trust %
Average ELA Proficiency
Average Math Proficiency
asian_pacific_2016_num_students
asian_pacific_2017_num_students
avg_math_proficiency_2016
avg_math_proficiency_2016_city_diff
avg_math_proficiency_2016_comp_diff
avg_math_proficiency_2017
avg_math_proficiency_2017_city_diff
avg_math_proficiency_2017_comp_diff
black_2016_avg_ela
black_2016_avg_math
black_2016_incoming_ela
black_2016_incoming_math
black_2016_num_students
black_2017_avg_ela
black_2017_avg_math
black_2017_incoming_ela
black_2017_incoming_math
black_2017_num_students
econ_need_index_2016_city_diff
econ_need_index_2016_dist_diff
econ_need_index_2016_val
econ_need_index_2017_city_diff
econ_need_index_2017_dist_diff
econ_need_index_2017_val
grade_7_2015_enrollment
grade_7_2016_enrollment
grade_7_2017_enrollment
grade_8_2015_enrollment
grade_8_2016_enrollment
grade_8_2017_enrollment
hispanic_2016_avg_ela
hispanic_2016_avg_math
hispanic_2016_incoming_ela
hispanic_2016_incoming_math
hispanic_2016_num_students
hispanic_2017_avg_ela
hispanic_2017_avg_math
hispanic_2017_incoming_ela
hispanic_2017_incoming_math
hispanic_2017_num_students
incoming_avg_5th_grade_ela_rating_2016_city_diff
incoming_avg_5th_grade_ela_rating_2016_dist_diff
incoming_avg_5th_grade_ela_rating_2016_val
incoming_avg_5th_grade_ela_rating_2017_city_diff
incoming_avg_5th_grade_ela_rating_2017_dist_diff
incoming_avg_5th_grade_ela_rating_2017_val
incoming_avg_5th_grade_math_rating_2016_city_diff
incoming_avg_5th_grade_math_rating_2016_dist_diff
incoming_avg_5th_grade_math_rating_2016_val
incoming_avg_5th_grade_math_rating_2017_city_diff
incoming_avg_5th_grade_math_rating_2017_dist_diff
incoming_avg_5th_grade_math_rating_2017_val
incoming_ela_level_1_2016_city_diff
incoming_ela_level_1_2016_dist_diff
incoming_ela_level_1_2016_n
incoming_ela_level_1_2016_val
incoming_ela_level_1_2017_city_diff
incoming_ela_level_1_2017_dist_diff
incoming_ela_level_1_2017_n
incoming_ela_level_1_2017_val
incoming_ela_level_2_2016_city_diff
incoming_ela_level_2_2016_dist_diff
incoming_ela_level_2_2016_n
incoming_ela_level_2_2016_val
incoming_ela_level_2_2017_city_diff
incoming_ela_level_2_2017_dist_diff
incoming_ela_level_2_2017_n
incoming_ela_level_2_2017_val
incoming_ela_level_3_2016_city_diff
incoming_ela_level_3_2016_dist_diff
incoming_ela_level_3_2016_n
incoming_ela_level_3_2016_val
incoming_ela_level_3_2017_city_diff
incoming_ela_level_3_2017_dist_diff
incoming_ela_level_3_2017_n
incoming_ela_level_3_2017_val
incoming_ela_level_4_2016_city_diff
incoming_ela_level_4_2016_dist_diff
incoming_ela_level_4_2016_n
incoming_ela_level_4_2016_val
incoming_ela_level_4_2017_city_diff
incoming_ela_level_4_2017_dist_diff
incoming_ela_level_4_2017_n
incoming_ela_level_4_2017_val
incoming_math_level_1_2016_city_diff
incoming_math_level_1_2016_dist_diff
incoming_math_level_1_2016_n
incoming_math_level_1_2016_val
incoming_math_level_1_2017_city_diff
incoming_math_level_1_2017_dist_diff
incoming_math_level_1_2017_n
incoming_math_level_1_2017_val
incoming_math_level_2_2016_city_diff
incoming_math_level_2_2016_dist_diff
incoming_math_level_2_2016_n
incoming_math_level_2_2016_val
incoming_math_level_2_2017_city_diff
incoming_math_level_2_2017_dist_diff
incoming_math_level_2_2017_n
incoming_math_level_2_2017_val
incoming_math_level_3_2016_city_diff
incoming_math_level_3_2016_dist_diff
incoming_math_level_3_2016_n
incoming_math_level_3_2016_val
incoming_math_level_3_2017_city_diff
incoming_math_level_3_2017_dist_diff
incoming_math_level_3_2017_n
incoming_math_level_3_2017_val
incoming_math_level_4_2016_city_diff
incoming_math_level_4_2016_dist_diff
incoming_math_level_4_2016_n
incoming_math_level_4_2016_val
incoming_math_level_4_2017_city_diff
incoming_math_level_4_2017_dist_diff
incoming_math_level_4_2017_n
incoming_math_level_4_2017_val
pct_8th_graders_w_hs_credit_2016
pct_8th_graders_w_hs_credit_2016_city_diff
pct_8th_graders_w_hs_credit_2016_comp_diff
pct_8th_graders_w_hs_credit_2017
pct_8th_graders_w_hs_credit_2017_city_diff
pct_8th_graders_w_hs_credit_2017_comp_diff
pct_ell_2016_city_diff
pct_ell_2016_dist_diff
pct_ell_2016_val
pct_ell_2017_city_diff
pct_ell_2017_dist_diff
pct_ell_2017_val
pct_hra_assistance_2016_city_diff
pct_hra_assistance_2016_dist_diff
pct_hra_assistance_2016_val
pct_hra_assistance_2017_city_diff
pct_hra_assistance_2017_dist_diff
pct_hra_assistance_2017_val
pct_math_level_3_or_4_2016
pct_math_level_3_or_4_2016_city_diff
pct_math_level_3_or_4_2016_comp_diff
pct_math_level_3_or_4_2017
pct_math_level_3_or_4_2017_city_diff
pct_math_level_3_or_4_2017_comp_diff
pct_poverty_2016_city_diff
pct_poverty_2016_dist_diff
pct_poverty_2016_val
pct_poverty_2017_city_diff
pct_poverty_2017_dist_diff
pct_poverty_2017_val
pct_students_w_disabilities_2016_city_diff
pct_students_w_disabilities_2016_dist_diff
pct_students_w_disabilities_2016_val
pct_students_w_disabilities_2017_city_diff
pct_students_w_disabilities_2017_dist_diff
pct_students_w_disabilities_2017_val
pct_temp_housing_2016_city_diff
pct_temp_housing_2016_dist_diff
pct_temp_housing_2016_val
pct_temp_housing_2017_city_diff
pct_temp_housing_2017_dist_diff
pct_temp_housing_2017_val
sa_attendance_90plus_2016
sa_attendance_90plus_2016_city_diff
sa_attendance_90plus_2016_dist_diff
sa_attendance_90plus_2017
sa_attendance_90plus_2017_city_diff
sa_attendance_90plus_2017_dist_diff
white_2016_num_students
white_2017_num_students
Community School?_Yes
Community School?_nan
                            OLS Regression Results
==============================================================================
Dep. Variable:         num_testtakers   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       nan
Date:                Wed, 01 Aug 2018   Prob (F-statistic):                nan
Time:                        07:32:35   Log-Likelihood:                -2488.6
No. Observations:                 449   AIC:                             4979.
Df Residuals:                     448   BIC:                             4983.
Df Model:                           0
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    43.3719      2.919     14.859      0.000      37.636      49.108
Community School?_nan          0          0        nan        nan           0           0
==============================================================================
Omnibus:                      292.682   Durbin-Watson:                   1.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2257.604
Skew:                           2.877   Prob(JB):                         0.00
Kurtosis:                      12.358   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
Rigorous Instruction Rating_Approaching Target
Rigorous Instruction Rating_Exceeding Target
Rigorous Instruction Rating_Not Meeting Target
Rigorous Instruction Rating_nan
Collaborative Teachers Rating_Approaching Target
Collaborative Teachers Rating_Exceeding Target
Collaborative Teachers Rating_Not Meeting Target
Collaborative Teachers Rating_nan
Supportive Environment Rating_Approaching Target
Supportive Environment Rating_Exceeding Target

/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/statsmodels/regression/linear_model.py:1554: RuntimeWarning: invalid value encountered in double_scalars
  return self.ess/self.df_model
/Users/greg.bolla/.local/share/virtualenvs/kaggle-passnyc-hqRn-hsS/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

Supportive Environment Rating_nan
Effective School Leadership Rating_Approaching Target
Effective School Leadership Rating_Exceeding Target
Effective School Leadership Rating_Not Meeting Target
Effective School Leadership Rating_nan
Strong Family-Community Ties Rating_Approaching Target
Strong Family-Community Ties Rating_Exceeding Target
Strong Family-Community Ties Rating_Not Meeting Target
Strong Family-Community Ties Rating_nan
Trust Rating_Approaching Target
Trust Rating_Exceeding Target
Trust Rating_Not Meeting Target
Trust Rating_nan
Student Achievement Rating_Approaching Target
Student Achievement Rating_Exceeding Target
Student Achievement Rating_Not Meeting Target
Student Achievement Rating_nan
dist_to_bronx_hs_of_science
dist_to_brooklyn_latin_school
dist_to_brooklyn_tech_hs
dist_to_hs_for_math_sci_eng
dist_to_hs_of_amer_studies
dist_to_queens_hs_for_sci
dist_to_staten_island_tech
dist_to_stuyvesant_hs
min_dist_to_specialized_school

In [32]:
def get_categorical_model(col_name, pred_train_df, response_train_df):
    model_rows = []
    
    col_list = pred_train_df.columns.values
    
    col_dummy_vars = [var for var in col_list if "{}_".format(col_name) in var]
    x_train_df = pred_train_df[col_dummy_vars]
    x_train_df = sm.add_constant(x_train_df)

    x_model = sm.OLS(response_train_df, x_train_df, missing='drop')
    x_results = x_model.fit()
    
    num_obs = x_results.nobs
    r2 = x_results.rsquared
    adj_r2 = x_results.rsquared_adj
    f_stat = x_results.fvalue
    f_stat_pval = x_results.f_pvalue
    aic = x_results.aic
    bic = x_results.bic
    for i, pred_pval in enumerate(x_results.pvalues):
        if np.isnan(pred_pval):
            print(x_results.summary())
            continue
        model_row = {}
        model_row['model'] = col_name
        if len(x_results.pvalues[x_results.pvalues == pred_pval]) > 1:
            print(x_results.pvalues[x_results.pvalues == pred_pval])
            raise ValueError('multiple preds have same pval')
        pred_col = x_results.pvalues[x_results.pvalues == pred_pval].index[0]
        pred_coef = x_results.params[pred_col]
        
        
        model_row['model_r2'] = r2
        model_row['model_adj_r2'] = adj_r2
        model_row['model_f_stat'] = f_stat
        model_row['model_f_stat_pval'] = f_stat_pval
        model_row['model_aic'] = aic
        model_row['model_bic'] = bic
        model_row['pred_col'] = pred_col
        model_row['pred_coef'] = pred_coef
        model_row['pred_col_pval'] = pred_pval
        if pred_col != 'const':
            model_row['pred_num_miss'] = pred_train_df[pred_col].isnull().sum()
        model_rows.append(model_row)

    return model_rows

In [94]:
cat_pred_df_cols = ["model", "model_r2", "model_adj_r2", "model_f_stat", "model_f_stat_pval", "model_aic", "model_bic",
    "pred_col", "pred_coef", "pred_col_pval", "pred_num_miss"
    ]

cat_pred_df = cat_pred_df[cat_pred_df_cols]

In [95]:
cat_pred_df.to_csv("{}/categorical_single_regression.csv".format(data_dir), index=False)
num_pred_df.to_csv("{}/numerical_single_regression.csv".format(data_dir), index=False)

In [46]:
def get_numerical_model(col_name, pred_train_df, response_train_df):
    model_rows = []
    
    x_train_df = pred_train_df[col_name]
    x_train_df = sm.add_constant(x_train_df)

    x_model = sm.OLS(response_train_df, x_train_df, missing='drop')
    x_results = x_model.fit()
    
    num_obs = x_results.nobs
    r2 = x_results.rsquared
    adj_r2 = x_results.rsquared_adj
    f_stat = x_results.fvalue
    f_stat_pval = x_results.f_pvalue
    aic = x_results.aic
    bic = x_results.bic
    for i, pred_pval in enumerate(x_results.pvalues):
        if np.isnan(pred_pval):
            print(x_results.summary())
            continue
        model_row = {}
        model_row['model'] = col_name
        if len(x_results.pvalues[x_results.pvalues == pred_pval]) > 1:
            print(x_results.pvalues[x_results.pvalues == pred_pval])
            raise ValueError('multiple preds have same pval')
        pred_col = x_results.pvalues[x_results.pvalues == pred_pval].index[0]
        pred_coef = x_results.params[pred_col]
        
        
        model_row['model_r2'] = r2
        model_row['model_adj_r2'] = adj_r2
        model_row['model_f_stat'] = f_stat
        model_row['model_f_stat_pval'] = f_stat_pval
        model_row['model_aic'] = aic
        model_row['model_bic'] = bic
        model_row['pred_col'] = pred_col
        model_row['pred_coef'] = pred_coef
        model_row['pred_col_pval'] = pred_pval
        if pred_col != 'const':
            model_row['pred_num_miss'] = pred_train_df[pred_col].isnull().sum()
        model_rows.append(model_row)

    return model_rows

In [84]:
def get_dist_from_specialized_schools(row):
   
    row_long_lat = (float(row['Latitude']), float(row['Longitude']))

    specialized_school_long_lat = {
        "bronx_hs_of_science" : (40.87833, -73.89083),
        "brooklyn_latin_school" : (40.705, -73.9388889),
        "brooklyn_tech_hs" : (40.6888889, -73.9766667),
        "hs_for_math_sci_eng" : (40.8215, -73.9490),
        "hs_of_amer_studies" : (40.8749, -73.8952),
        "queens_hs_for_sci": (40.699, -73.797),
        "staten_island_tech" : (40.5676, -74.1181),
        "stuyvesant_hs" : (40.7178801, -74.0137509)
    }
    
    #dist_df = pd.DataFrame()
    row = {}
    for specialized_school, specialized_long_lat in specialized_school_long_lat.items():
        row["dist_to_{}".format(specialized_school)] = geopy.distance.vincenty(row_long_lat, specialized_long_lat).miles       
    row["min_dist_to_specialized_school"] = row[min(row, key=row.get)]
    return pd.Series(row)

In [85]:
dist_df = modeling_df.apply(get_dist_from_specialized_schools, axis=1)

In [86]:
dist_df.head()

,dist_to_bronx_hs_of_science,dist_to_brooklyn_latin_school,dist_to_brooklyn_tech_hs,dist_to_hs_for_math_sci_eng,dist_to_hs_of_amer_studies,dist_to_queens_hs_for_sci,dist_to_staten_island_tech,dist_to_stuyvesant_hs,min_dist_to_specialized_school
0,18.275778,6.328220,4.450203,13.670928,17.978016,11.933558,7.300248,6.233516,4.450203
1,21.354160,9.159982,7.650721,16.910698,21.068363,13.207266,6.658060,9.671763,6.658060
2,6.562026,6.708981,7.736581,1.618959,6.236976,11.169889,18.023136,6.297388,1.618959
3,15.051826,3.301437,1.226399,10.471718,14.753907,10.027592,10.065957,3.504831,1.226399
4,11.043313,4.222236,3.942374,6.123651,10.721510,11.193139,13.518514,1.805418,1.805418

In [87]:
example_df = pd.concat([modeling_df, dist_df], axis=1)

In [88]:
example_df.head()

,school_name,dbn,num_testtakers,num_offered,pct_8th_graders_offered,pct_black_hispanic,SED Code,District,Latitude,Longitude,...,Student Achievement Rating_nan,dist_to_bronx_hs_of_science,dist_to_brooklyn_latin_school,dist_to_brooklyn_tech_hs,dist_to_hs_for_math_sci_eng,dist_to_hs_of_amer_studies,dist_to_queens_hs_for_sci,dist_to_staten_island_tech,dist_to_stuyvesant_hs,min_dist_to_specialized_school
0,THE CHRISTA MCAULIFFE SCHOOL\I.S. 187,20K187,251.0,205.0,0.75,0.08,3.320000e+11,20.0,40.627847,-74.004003,...,0.0,18.275778,6.328220,4.450203,13.670928,17.978016,11.933558,7.300248,6.233516,4.450203
1,MARK TWAIN I.S. 239 FOR THE GIFTED & TALENTED,21K239,336.0,196.0,0.46,0.13,3.321000e+11,21.0,40.578660,-73.992391,...,0.0,21.354160,9.159982,7.650721,16.910698,21.068363,13.207266,6.658060,9.671763,6.658060
2,J.H.S. 054 BOOKER T. WASHINGTON,03M054,257.0,150.0,0.53,0.23,3.103000e+11,3.0,40.800512,-73.962802,...,0.0,6.562026,6.708981,7.736581,1.618959,6.236976,11.169889,18.023136,6.297388,1.618959
3,M.S. 51 WILLIAM ALEXANDER,15K051,280.0,122.0,0.33,0.28,3.315000e+11,15.0,40.672180,-73.984625,...,0.0,15.051826,3.301437,1.226399,10.471718,14.753907,10.027592,10.065957,3.504831,1.226399
4,NEW YORK CITY LAB MIDDLE SCHOOL FOR COLLABORAT...,02M312,163.0,113.0,0.62,0.08,3.102000e+11,2.0,40.742571,-74.002371,...,0.0,11.043313,4.222236,3.942374,6.123651,10.721510,11.193139,13.518514,1.805418,1.805418