In [189]:
import os
import pandas as pd
import numpy as np

data_dir = os.getcwd().replace('/notebooks', '') + '/data/interim'
interim_modeling_df = pd.read_csv("{}/step3_interim_modeling_data.csv".format(data_dir))
# discretionary_funding_filename = 'new-york-city-council-discretionary-funding-2009-2013.csv'
# school_safety_filename = '2010-2016-school-safety-report.csv'

# disc_fund_df = pd.read_csv("{}/{}".format(data_dir, discretionary_funding_filename))
# school_safety_df = pd.read_csv("{}/{}".format(data_dir, school_safety_filename))

In [190]:
interim_modeling_df[interim_modeling_df["Major N"].isnull()].head()

Empty DataFrame
Columns: [school_name, dbn, num_testtakers, num_offered, pct_8th_graders_offered, pct_black_hispanic, SED Code, District, Latitude, Longitude, Address (Full), City, Zip, Grades, Grade Low, Grade High, Community School?, Economic Need Index, Percent ELL, Percent Asian, Percent Black, Percent Hispanic, Percent Black / Hispanic, Percent White, Student Attendance Rate, Percent of Students Chronically Absent, Rigorous Instruction %, Rigorous Instruction Rating, Collaborative Teachers %, Collaborative Teachers Rating, Supportive Environment %, Supportive Environment Rating, Effective School Leadership %, Effective School Leadership Rating, Strong Family-Community Ties %, Strong Family-Community Ties Rating, Trust %, Trust Rating, Student Achievement Rating, Average ELA Proficiency, Average Math Proficiency, asian_pacific_2016_num_students, asian_pacific_2017_num_students, avg_math_proficiency_2016, avg_math_proficiency_2016_city_diff, avg_math_proficiency_2016_comp_diff, avg_math_proficiency_2017, avg_math_proficiency_2017_city_diff, avg_math_proficiency_2017_comp_diff, black_2016_avg_ela, black_2016_avg_math, black_2016_incoming_ela, black_2016_incoming_math, black_2016_num_students, black_2017_avg_ela, black_2017_avg_math, black_2017_incoming_ela, black_2017_incoming_math, black_2017_num_students, econ_need_index_2016_city_diff, econ_need_index_2016_dist_diff, econ_need_index_2016_val, econ_need_index_2017_city_diff, econ_need_index_2017_dist_diff, econ_need_index_2017_val, grade_7_2015_enrollment, grade_7_2016_enrollment, grade_7_2017_enrollment, grade_8_2015_enrollment, grade_8_2016_enrollment, grade_8_2017_enrollment, hispanic_2016_avg_ela, hispanic_2016_avg_math, hispanic_2016_incoming_ela, hispanic_2016_incoming_math, hispanic_2016_num_students, hispanic_2017_avg_ela, hispanic_2017_avg_math, hispanic_2017_incoming_ela, hispanic_2017_incoming_math, hispanic_2017_num_students, incoming_avg_5th_grade_ela_rating_2016_city_diff, incoming_avg_5th_grade_ela_rating_2016_dist_diff, incoming_avg_5th_grade_ela_rating_2016_val, incoming_avg_5th_grade_ela_rating_2017_city_diff, incoming_avg_5th_grade_ela_rating_2017_dist_diff, incoming_avg_5th_grade_ela_rating_2017_val, incoming_avg_5th_grade_math_rating_2016_city_diff, incoming_avg_5th_grade_math_rating_2016_dist_diff, incoming_avg_5th_grade_math_rating_2016_val, incoming_avg_5th_grade_math_rating_2017_city_diff, incoming_avg_5th_grade_math_rating_2017_dist_diff, incoming_avg_5th_grade_math_rating_2017_val, incoming_ela_level_1_2016_city_diff, incoming_ela_level_1_2016_dist_diff, incoming_ela_level_1_2016_n, incoming_ela_level_1_2016_val, incoming_ela_level_1_2017_city_diff, incoming_ela_level_1_2017_dist_diff, incoming_ela_level_1_2017_n, ...]
Index: []

[0 rows x 261 columns]

In [176]:
consolidated_loc_df.head()
consolidated_loc_df = school_safety_df[school_safety_df["DBN"].isnull()]

In [177]:
consolidated_locations = consolidated_loc_df["Building Name"].unique()
school_yrs = consolidated_loc_df["School Year"].unique()

consolidated_loc_data = {}
for location in consolidated_locations:

    consolidated_loc_data[location] = {}
    loc_df = consolidated_loc_df[consolidated_loc_df["Building Name"] == location]

    for year in school_yrs:

        loc_yr_row = loc_df[loc_df["School Year"] == year]  
        if len(loc_yr_row) == 0:
            print("no data available for {} / {}".format(location, year))
            continue
        elif len(loc_yr_row) > 1:
            raise ValueError("duplicate data found for {} / {}".format(location, year))
        loc_yr_dict = get_loc_yr_data(loc_yr_row, cols_to_fill)
        consolidated_loc_data[location][year] = loc_yr_dict

no data available for 432 MONROE STREET CONSOLIDATED LOCATION / 2014-15
no data available for 432 MONROE STREET CONSOLIDATED LOCATION / 2015-16
no data available for 183 SOUTH  3 STREET  CONSOLIDATED LOCATION / 2014-15
no data available for 183 SOUTH  3 STREET  CONSOLIDATED LOCATION / 2015-16
no data available for 51 SAINT EDWARDS STREET CONSOLIDATED LOCATION / 2014-15
no data available for 51 SAINT EDWARDS STREET CONSOLIDATED LOCATION / 2015-16
no data available for 215 HEYWARD STREET CONSOLIDATED LOCATION / 2014-15
no data available for 215 HEYWARD STREET CONSOLIDATED LOCATION / 2015-16
no data available for 601 PARKSIDE AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 601 PARKSIDE AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 1077 REMSEN AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 1077 REMSEN AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 760 PROSPECT PLACE CONSOLIDATED LOCATION / 2014-15
no data available for 760 PROSPECT PLACE CONSOLIDATED LOCATION / 2015-16
no data available for 364 SACKMAN STREET CONSOLIDATED LOCATION / 2014-15
no data available for 364 SACKMAN STREET CONSOLIDATED LOCATION / 2015-16
no data available for 982 HEGEMAN AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 982 HEGEMAN AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 1001 EAST 100 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 1001 EAST 100 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 791 EMPIRE BOULEVARD CONSOLIDATED LOCATION / 2014-15
no data available for 791 EMPIRE BOULEVARD CONSOLIDATED LOCATION / 2015-16
no data available for 1580 DEAN STREET CONSOLIDATED LOCATION / 2014-15
no data available for 1580 DEAN STREET CONSOLIDATED LOCATION / 2015-16
no data available for 72 VERONICA PLACE CONSOLIDATED LOCATION / 2014-15
no data available for 72 VERONICA PLACE CONSOLIDATED LOCATION / 2015-16
no data available for 875 WILLIAMS AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 875 WILLIAMS AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 101 PARK AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 101 PARK AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 125 COVERT STREET CONSOLIDATED LOCATION / 2014-15
no data available for 125 COVERT STREET CONSOLIDATED LOCATION / 2015-16
no data available for 700 PARK AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 700 PARK AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 1601 80 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 1601 80 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 832 MARCY AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 832 MARCY AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 105 JOHNSON STREET CONSOLIDATED LOCATION / 2014-15
no data available for 105 JOHNSON STREET CONSOLIDATED LOCATION / 2015-16
no data available for 25 BRIGHTON  4TH ROAD CONSOLIDATED LOCATION / 2014-15
no data available for 25 BRIGHTON  4TH ROAD CONSOLIDATED LOCATION / 2015-16
no data available for 362 SCHERMERHORN STREET CONSOLIDATED LOCATION / 2014-15
no data available for 362 SCHERMERHORN STREET CONSOLIDATED LOCATION / 2015-16
no data available for 402 EASTERN PARKWAY CONSOLIDATED LOCATION / 2014-15
no data available for 402 EASTERN PARKWAY CONSOLIDATED LOCATION / 2015-16
no data available for 1495 HERKIMER STREET CONSOLIDATED LOCATION / 2014-15
no data available for 1495 HERKIMER STREET CONSOLIDATED LOCATION / 2015-16
no data available for 433 EAST 100 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 433 EAST 100 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 735 WEST END AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 735 WEST END AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 222 WEST 134 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 222 WEST 134 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 240 WEST 113 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 240 WEST 113 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 301 WEST 140 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 301 WEST 140 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 80 CATHERINE STREET CONSOLIDATED LOCATION / 2014-15
no data available for 80 CATHERINE STREET CONSOLIDATED LOCATION / 2015-16
no data available for 100 ATTORNEY STREET CONSOLIDATED LOCATION / 2014-15
no data available for 100 ATTORNEY STREET CONSOLIDATED LOCATION / 2015-16
no data available for 250 WEST 127 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 250 WEST 127 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 20 WEST 112 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 20 WEST 112 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 442 EAST HOUSTON STREET CONSOLIDATED LOCATION  / 2014-15
no data available for 442 EAST HOUSTON STREET CONSOLIDATED LOCATION  / 2015-16
no data available for 625 WEST 133 STREET  CONSOLIDATED LOCATION / 2014-15
no data available for 625 WEST 133 STREET  CONSOLIDATED LOCATION / 2015-16
no data available for 2230 5 AVENUE  CONSOLIDATED LOCATION / 2014-15
no data available for 2230 5 AVENUE  CONSOLIDATED LOCATION / 2015-16
no data available for 250 WEST HOUSTON STREET CONSOLIDATED LOCATION / 2015-16
no data available for 126-10 BEDELL STREET CONSOLIDATED LOCATION / 2014-15
no data available for 126-10 BEDELL STREET CONSOLIDATED LOCATION / 2015-16
no data available for 31-51 21 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 31-51 21 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 142-10 LINDEN BOULEVARD CONSOLIDATED LOCATION / 2014-15
no data available for 142-10 LINDEN BOULEVARD CONSOLIDATED LOCATION / 2015-16
no data available for 535 BRIAR PLACE CONSOLIDATED LOCATION / 2015-16
no data available for 90-01 SUTPHIN BOULEVARD CONSOLIDATED LOCATION / 2014-15
no data available for 90-01 SUTPHIN BOULEVARD CONSOLIDATED LOCATION / 2015-16
no data available for 468 EAST 140 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 468 EAST 140 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 383 EAST 139 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 383 EAST 139 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 681 KELLY STREET CONSOLIDATED LOCATION  / 2014-15
no data available for 681 KELLY STREET CONSOLIDATED LOCATION  / 2015-16
no data available for 450 SAINT PAUL'S PLACE  CONSOLIDATED LOCATION / 2014-15
no data available for 450 SAINT PAUL'S PLACE  CONSOLIDATED LOCATION / 2015-16
no data available for 677 EAST 141 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 677 EAST 141 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 730 BRYANT AVENUE CONSOLIDATED LOCATION  / 2014-15
no data available for 730 BRYANT AVENUE CONSOLIDATED LOCATION  / 2015-16
no data available for 1116 SHERIDAN AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 1116 SHERIDAN AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 1535 STORY AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 1535 STORY AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 968 CAULDWELL AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 968 CAULDWELL AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 333 EAST 135 STREET CONSOLIDATED LOCATION / 2014-15
no data available for 333 EAST 135 STREET CONSOLIDATED LOCATION / 2015-16
no data available for 4140 HUTCHINSON RIVER PKWAY EA CONSOLIDATED LOCATION / 2014-15
no data available for 4140 HUTCHINSON RIVER PKWAY EA CONSOLIDATED LOCATION / 2015-16
no data available for 1300 BOYNTON AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 1300 BOYNTON AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 900 TINTON AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 900 TINTON AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 3450 EAST TREMONT AVENUE CONSOLIDATED LOCATION / 2014-15
no data available for 3450 EAST TREMONT AVENUE CONSOLIDATED LOCATION / 2015-16
no data available for 2424 BATCHELDER STREET CONSOLIDATED LOCATION  / 2013-14

no data available for 1420 East 68 Street CONSOLIDATED LOCATION / 2013-14
no data available for 99 AVENUE P CONSOLIDATED LOCATION  / 2013-14
no data available for 330 CROWN STREET CONSOLIDATED LOCATION / 2013-14
no data available for 528 RIDGEWOOD AVENUE CONSOLIDATED LOCATION / 2013-14
no data available for 5404 TILDEN AVENUE CONSOLIDATED LOCATION / 2013-14
no data available for 72 VERONICA PLACE CONSOLIDATED LOCATION  / 2013-14
no data available for 200 WOODBINE STREET CONSOLIDATED LOCATION / 2013-14
no data available for 832 MARCY AVENUE CONSOLIDATED LOCATION  / 2013-14
no data available for 105 TECH PLACE CONSOLIDATED LOCATION / 2013-14
no data available for 735 WEST END AVENUE CONSOLDATED LOCATION  / 2013-14
no data available for 1458 YORK AVENUE  CONSOLIDATED LOCATION  / 2013-14
no data available for 28-37 29 STREET CONSOLIDATED LOCATION / 2013-14
no data available for 109-20 UNION HALL STREET CONSOLIDATED LOCATION  / 2013-14
no data available for 133-25 GUY R BREWER BOULEVARD CONSOLIDATED LOCATION / 2013-14
no data available for 230-17 HILLSIDE AVENUE CONSOLIDATED LOCATION / 2013-14
no data available for 80 MONROE AVENUE CONSOLIDATED LOCATION  / 2013-14
no data available for 101 WARREN STREET CONSOLIDATED LOCATION / 2013-14
no data available for P.S. 179 |  Young Leaders Elementary School |  468 EAST 140 STREET CONSOLIDATED LOCATION / 2013-14
no data available for 730 BRYANT AVENUE CONSOLIDATED LOCATION / 2013-14
no data available for 1116 SHERIDAN AVENUE CONSOLIDATED LOCATION  / 2013-14
no data available for 628 TINTON AVENUE CONSOLIDATED LOCATION / 2013-14
no data available for 3177 WEBSTER AVENUE CONSOLIDATED LOCATION / 2013-14
no data available for 1300 BOYNTON AVENUE CONSOLIDATED LOCATION  / 2013-14
no data available for 900 TINTON AVENUE CONSOLIDATED LOCATION  / 2013-14
no data available for 3450 EAST TREMONT AVENUE CONSOLIDATED LOCATION  / 2013-14
no data available for 16 CLARKSON STREET STREET CONSOLIDATED LOCATION / 2013-14
no data available for 16 CLARKSON STREET STREET CONSOLIDATED LOCATION / 2014-15

In [111]:
def get_loc_yr_data(row, cols_to_fill):
    
    row_dict = {}
    for col in cols_to_fill:
        row_dict[col] = row[col].values[0]

    return row_dict

In [178]:
output_df = pd.DataFrame()
school_safety_df.head()

for idx, row in school_safety_df.iterrows():
    
    dbn = row['DBN']
    dbn_nan_flg = isinstance(dbn, float) and np.isnan(dbn)
    building_name = row['Building Name']
    bldg_nan_flg = isinstance(building_name, float) and np.isnan(building_name)
    if dbn_nan_flg == False and bldg_nan_flg == False:
        dbn = dbn.strip()
        school_yr = row['School Year']      
        if building_name not in consolidated_loc_data.keys():
            print("no data for consolidated location: {}".format(building_name))
            continue
        if school_yr not in consolidated_loc_data[building_name].keys():
            print("no data for consolidated location: {} in {}".format(building_name, school_yr))
            continue
        loc_yr_data = consolidated_loc_data[building_name][school_yr]

        #print([row[col] for col in cols_to_fill])
        for col in cols_to_fill:
            row[col] = loc_yr_data[col]
            
    output_df = output_df.append(row)
    
#        print("{} / {} / {}".format(dbn, building_name, row['School Year']))

no data for consolidated location: 725 EAST  23 STREET CONSOLIDATED LOCATION
no data for consolidated location: 501 WEST AVENUE CONSOLIDATED LOCATION
no data for consolidated location: 16 CLARKSON STREET CONSOLIDATED LOCATION
no data for consolidated location: 850 10TH AVENUE CONSOLIDATED LOCATION
no data for consolidated location: 30-15 29 STREET CONSOLIDATED LOCATION
no data for consolidated location: 149 EAST MOSHOLU PKWY CONSOLIDATED LOCATION
no data for consolidated location: 16 CLARKSON STREET CONSOLIDATED LOCATION
no data for consolidated location: 149 EAST MOSHOLU PKWY CONSOLIDATED LOCATION
no data for consolidated location: 16 CLARKSON STREET CONSOLIDATED LOCATION
no data for consolidated location: 250 WEST HOUSTON STREET CONSOLIDATED LOCATION in 2015-16
no data for consolidated location: 250 WEST HOUSTON STREET CONSOLIDATED LOCATION in 2015-16
no data for consolidated location: 535 BRIAR PLACE CONSOLIDATED LOCATION in 2015-16
no data for consolidated location: 149 EAST MOSHOLU PKWY CONSOLIDATED LOCATION

In [183]:
len(output_df[output_df["Major N"].isnull()])

6

In [182]:
output_df = output_df[~output_df["DBN"].isnull()]

In [184]:
output_df.groupby(['DBN'])[cols_to_fill].agg('sum').reset_index()

,DBN,Major N,Oth N,NoCrim N,Prop N,Vio N,AvgOfMajor N,AvgOfOth N,AvgOfNoCrim N,AvgOfProp N,AvgOfVio N
0,01M015,2.0,2.0,2.0,3.0,1.0,1.03,2.50,4.11,2.14,1.10
1,01M019,2.0,10.0,6.0,5.0,5.0,0.89,3.07,4.14,2.16,1.42
2,01M020,2.0,6.0,9.0,4.0,4.0,0.92,3.55,5.32,2.37,1.63
3,01M034,0.0,4.0,4.0,1.0,3.0,0.89,3.07,4.14,2.16,1.42
4,01M063,0.0,1.0,2.0,1.0,0.0,0.94,3.29,4.65,2.27,1.54
5,01M064,3.0,5.0,1.0,8.0,0.0,1.36,5.07,7.64,3.31,2.32
6,01M110,0.0,1.0,0.0,1.0,0.0,0.89,3.07,4.14,2.16,1.42
7,01M134,1.0,10.0,9.0,8.0,3.0,0.87,3.33,4.81,2.26,1.51
8,01M137,1.0,10.0,9.0,8.0,3.0,0.87,3.33,4.81,2.26,1.51
9,01M140,0.0,2.0,7.0,0.0,0.0,0.89,3.07,4.14,2.16,1.42
10,01M142,2.0,2.0,6.0,3.0,1.0,0.89,3.07,4.14,2.16,1.42
11,01M184,2.0,3.0,2.0,4.0,1.0,0.92,3.55,5.32,2.37,1.63
12,01M188,4.0,12.0,14.0,4.0,12.0,0.87,3.33,4.81,2.26,1.51
13,01M292,4.0,23.0,16.0,18.0,9.0,1.49,5.44,8.50,3.64,2.67
14,01M301,2.0,10.0,6.0,5.0,5.0,0.89,3.07,4.14,2.16,1.42
15,01M315,1.0,2.0,0.0,2.0,1.0,0.88,3.54,4.88,2.38,1.60
16,01M332,4.0,23.0,16.0,18.0,9.0,1.49,5.44,8.50,3.64,2.67
17,01M345,4.0,23.0,16.0,18.0,9.0,1.49,5.44,8.50,3.64,2.67
18,01M361,1.0,2.0,0.0,2.0,1.0,0.88,3.54,4.88,2.38,1.60
19,01M363,0.0,1.0,2.0,1.0,0.0,0.94,3.29,4.65,2.27,1.54
20,01M364,3.0,5.0,1.0,8.0,0.0,1.36,5.07,7.64,3.31,2.32
21,01M378,4.0,23.0,33.0,11.0,12.0,1.61,6.71,10.89,4.04,3.10
22,01M448,1.0,4.0,9.0,2.0,1.0,0.89,3.07,4.14,2.16,1.42
23,01M450,1.0,10.0,2.0,6.0,2.0,0.92,3.55,5.32,2.37,1.63
24,01M458,1.0,17.0,5.0,11.0,6.0,0.89,3.07,4.14,2.16,1.42
25,01M509,4.0,23.0,33.0,11.0,12.0,1.61,6.71,10.89,4.04,3.10
26,01M515,4.0,23.0,33.0,11.0,12.0,1.61,6.71,10.89,4.04,3.10
27,01M539,0.0,8.0,9.0,6.0,2.0,2.53,10.42,19.34,6.64,4.90
28,01M650,1.0,17.0,5.0,11.0,6.0,0.89,3.07,4.14,2.16,1.42
29,01M696,0.0,0.0,3.0,0.0,0.0,0.92,3.55,5.32,2.37,1.63
...,...,...,...,...,...,...,...,...,...,...,...
1899,84X389,1.0,2.0,2.0,3.0,0.0,0.84,3.36,5.15,2.15,1.57
1900,84X389,0.0,0.0,0.0,0.0,0.0,0.56,2.40,3.56,1.36,1.05
1901,84X393,4.0,17.0,28.0,8.0,9.0,1.62,6.38,11.03,4.05,3.04
1902,84X482,4.0,22.0,26.0,16.0,9.0,1.57,5.66,10.06,3.69,2.67
1903,84X487,0.0,4.0,0.0,2.0,0.0,0.33,1.32,1.76,0.83,0.59
1904,84X488,1.0,1.0,2.0,2.0,0.0,0.35,1.06,1.09,0.73,0.50
1905,84X491,0.0,2.0,0.0,1.0,1.0,0.35,1.06,1.09,0.73,0.50
1906,84X493,0.0,5.0,14.0,3.0,0.0,0.86,3.26,5.55,2.17,1.29
1907,84X494,0.0,2.0,0.0,2.0,0.0,0.00,0.00,0.00,0.00,0.00
1908,84X539,3.0,18.0,44.0,9.0,6.0,3.14,13.00,34.86,8.29,5.29
1909,84X539,15.0,17.0,56.0,22.0,7.0,2.93,12.33,31.53,6.47,5.13
1910,84X553,3.0,18.0,44.0,9.0,6.0,3.14,13.00,34.86,8.29,5.29
1911,84X553,15.0,17.0,56.0,22.0,7.0,2.93,12.33,31.53,6.47,5.13
1912,84X704,1.0,10.0,16.0,3.0,4.0,2.67,10.52,22.70,5.96,5.44
1913,85K726,3.0,5.0,10.0,3.0,5.0,0.31,1.12,1.82,0.79,0.51
1914,88K981,1.0,1.0,1.0,2.0,0.0,0.43,1.03,1.23,0.99,0.41
1915,88K983,0.0,4.0,6.0,0.0,2.0,0.35,1.06,1.09,0.73,0.50
1916,88K984,2.0,1.0,13.0,1.0,2.0,0.33,1.32,1.76,0.83,0.59
1917,88K987,2.0,9.0,14.0,7.0,2.0,0.86,3.26,5.55,2.17,1.29
1918,88K993,2.0,5.0,4.0,2.0,4.0,0.33,1.32,1.76,0.83,0.59
1919,88M992,1.0,6.0,8.0,2.0,4.0,0.35,1.06,1.09,0.73,0.50
1920,88Q994,0.0,2.0,0.0,1.0,1.0,2.13,9.06,14.50,6.06,3.56
1921,88Q995,5.0,9.0,9.0,4.0,8.0,0.52,1.71,2.49,1.16,0.75
1922,88Q996,1.0,3.0,6.0,2.0,1.0,0.33,1.32,1.76,0.83,0.59
1923,88Q997,0.0,0.0,2.0,0.0,0.0,0.33,1.32,1.76,0.83,0.59
1924,88R991,2.0,7.0,45.0,1.0,7.0,0.33,1.32,1.76,0.83,0.59
1925,88X985,2.0,7.0,20.0,0.0,6.0,0.52,1.71,2.49,1.16,0.75
1926,88X993,1.0,3.0,8.0,3.0,0.0,0.35,1.06,1.09,0.73,0.50
1927,88X995,4.0,11.0,6.0,4.0,8.0,0.81,5.43,8.48,3.24,2.33
1928,88X996,1.0,23.0,47.0,7.0,6.0,2.93,12.33,31.53,6.47,5.13

In [188]:
for col in cols_to_fill:
    print(col)
    print(output_df[col].mean())
    col_mean = output_df[col].mean()
    output_df[col] = output_df[col].fillna(value=col_mean)

Major N
0.7931556059746645
Oth N
3.060502930610701
NoCrim N
5.9461145774248445
Prop N
1.9109472490073736
Vio N
1.4545282662128947
AvgOfMajor N
0.6246212121212121
AvgOfOth N
2.4483125
AvgOfNoCrim N
4.517443181818182
AvgOfProp N
1.548751893939394
AvgOfVio N
1.1346988636363635

In [186]:
output_df[output_df["Major N"].isnull()]

,# Schools,Address,AvgOfMajor N,AvgOfNoCrim N,AvgOfOth N,AvgOfProp N,AvgOfVio N,BBL,BIN,Borough,...,NTA,NoCrim N,Oth N,Postcode,Prop N,RangeA,Register,School Year,Schools in Building,Vio N
38,3.0,443 ST MARKS AVENUE,NaN,NaN,NaN,NaN,NaN,3.011480e+09,3028281.0,K,...,Crown Heights North ...,NaN,NaN,11238.0,NaN,NaN,NaN,2013-14,P.S. 022 |Brooklyn Arts and Science Elementary...,NaN
303,3.0,370 FOUNTAIN AVENUE,NaN,NaN,NaN,NaN,NaN,3.042780e+09,3095977.0,K,...,East New York ...,NaN,NaN,11208.0,NaN,NaN,NaN,2013-14,J.H.S. 218 James P. Sinnott|The School for Cla...,NaN
416,3.0,284 BALTIC STREET,NaN,NaN,NaN,NaN,NaN,3.004020e+09,3006401.0,K,...,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...,NaN,NaN,11201.0,NaN,NaN,NaN,2013-14,Brooklyn School for Global Studies | Success A...,NaN
438,3.0,501 WEST AVENUE,NaN,NaN,NaN,NaN,NaN,3.072500e+09,3196292.0,K,...,West Brighton ...,NaN,NaN,11224.0,NaN,NaN,NaN,2013-14,I.S. 303 Herbert S. Eisenberg | Coney Island P...,NaN
516,3.0,790 EAST NEW YORK AVENUE,NaN,NaN,NaN,NaN,NaN,3.048060e+09,3107129.0,K,...,Prospect Lefferts Gardens-Wingate ...,NaN,NaN,11203.0,NaN,NaN,NaN,2013-14,Middle School for the Arts|New Heights Middle ...,NaN
5871,1.0,NaN,0.59,4.8,2.3,1.36,1.17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,501-750,691,2015-16,P.S. 056 Norwood Heights| Bedford Park Element...,NaN